<head><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<style>
  .active{
    background:yellow
  }
</style>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/recipe">Recipe</a>
     
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li><a href="#" (click)="onMove('recipe')">Recipies</a></li>
            <li><a href="#" (click)="onMove('shopping')">Shopping List</a></li> -->
            <li><a routerLink="/recipe" routerLinkActive="active">Recipies</a></li>
            <li><a routerLink="/shopping" routerLinkActive="active">Shopping List</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" appdropdown>
              <a style="cursor:pointer" class="dropdown-toggle " role="button">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a style="cursor:pointer">Save</a></li>
                <li><a style="cursor:pointer">Show</a></li>
              </ul>
           </li>
         </ul>
      </div>
  </div>
 </nav>
